In [1]:
# try:
#   import pycaret
# except:
#    !pip install pycaret-ts-alpha

In [2]:
from pycaret.datasets import  get_data
from pycaret.internal.pycaret_experiment import TimeSeriesExperiment

In [3]:
y = get_data("airline")

Period
1949-01    112.0
1949-02    118.0
1949-03    132.0
1949-04    129.0
1949-05    121.0
Freq: M, Name: Number of airline passengers, dtype: float64

In [4]:
exp = TimeSeriesExperiment()

## Default MLFlow Logging

In [5]:
#### Setup experiment with MLFlow logging ----
exp.setup(
    data=y,
    fh=12,
    session_id=42,
    log_experiment=True,
    experiment_name="my_exp",
  )

In [6]:
## Run from terminal that has the python/anaconda environment.
## Alternately, run from notebook as below
## Web browser must be accessible to see results.
# !mlflow ui

In [7]:
#### Create a model ----
model = exp.create_model("lr_cds_dt")

In [8]:
#### Make predictions on holdout set ----
exp.predict_model(model)

1960-01    433.1925
1960-02    414.2470
1960-03    394.9755
1960-04    374.2084
1960-05    431.2220
1960-06    493.9331
1960-07    527.8974
1960-08    512.4796
1960-09    456.4409
1960-10    436.8202
1960-11    439.0850
1960-12    460.3670
Freq: M, Name: Number of airline passengers, dtype: float64

## MLFlow Logging with Plots

In [9]:
#### Setup experiment with MLFlow logging ----
#### This time, also enable logging of (default) plots ----
exp.setup(
    data=y,
    fh=12,
    session_id=42,
    log_experiment=True,
    experiment_name="my_exp_with_plots",
    log_plots=True
  )

In [10]:
model = exp.create_model("lr_cds_dt")

## ML Flow Logging with Custom Plots

In [11]:
#### Setup experiment with MLFlow logging ----
#### This time, also enable logging of plots (custom) ----
exp.setup(
    data=y,
    fh=12,
    session_id=42,
    log_experiment=True,
    experiment_name="my_exp_with_custom",
    log_plots=["ts", "train_test_split", "cv", "forecast"]
  )

In [12]:
model = exp.create_model("lr_cds_dt")